.preMonth{
	float:left;
	width:35%;
	text-align: left;
	height:30px;
	border-radius: 10px;
}
.month{
	padding-top: 4px;
	float:left;
	color:white;
	width:30%;
	height:30px;
}
.nextMonth{
	float:right;
	width:35%;
	text-align: right;
	height:30px;
	border-radius: 10px;
}
.navig{
	width:98%;
	height:30px;
	background-color: #ea761e;
	margin-top: 20px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	opacity:.80; 
}
.bottom{
	text-align: center;
}
.picture1{
	width:30px;
    padding-top:4px; 
	opacity:.20;
	float:left;
	margin-left: 20px;
}
.picture2{
	width:30px;
    padding-top:4px; 
	opacity:.20;
	float:right;	
	margin-right: 20px;
}
.text1{
	padding-top: 4px;
	color:white;
	float:left;
	padding-left: 10px;
}
.text2{
	padding-top: 4px;
	color:white;
	float:right;
	padding-right: 10px;
}
.frame{
	width:170px;
	height:300px;
	border-radius: 7px;
	float:left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 20px;
	border: 2px solid #eeeeee;
}
.frame1{
	width:170px;
	height:300px;
	border-radius: 7px;
	float:left;
	margin-left: 25px;
	margin-right: 3px;
	margin-top: 20px;
	border: 2px solid #eeeeee;
}
.frame2{
	width:170px;
	height:300px;
	border-radius: 7px;
	float:left;
	margin-left: 3px;
	margin-top: 20px;
	border: 2px solid #eeeeee;
}
.finfo{
	width:170px;
	height:40px;	
	border-radius:7px;
	color:black;
	line-height: 40px;
	padding-left: 10px;
}
.binfo{
	border-top: 1px solid #f9f9f9;
}
.detailp{
	width:25px;
	opacity:.20;
	margin-right: 10px;
	margin-top: 10px;
	float:right;
}